# Virtual environments
venv/
env/
FLOW_V1/venv/
FLOW_V2/venv/

# Python cache files
__pycache__/
*.pyc
FLOW_V1/__pycache__/
FLOW_V2/__pycache__/

# Build / packaged files
build/
dist/
*.spec
MAIN PACKAGED APP/

# Databases
*.db
flow_data.db

# Editor settings
.vscode/
.idea/

# Videos
*.mp4
